@page "/"
@page "/mac-book_air_1"

<div class="row-layout mac-book-air-1-container">
    <div class="column-layout mac-book-air-1">
        <IgbNavbar class="custom-navbar" mac_book_air_1-scope>
            <span slot="start" class="material-icons icon">
                arrow_back
            </span>
            <div class="row-layout group">
                <h6 class="h6">
                    Screen Title
                </h6>
            </div>
            <span slot="end" class="material-icons my-icon">
                account_circle
            </span>
            <span slot="end" class="material-icons my-icon">
                notifications
            </span>
            <span slot="end" class="material-icons my-icon">
                settings
            </span>
            <span slot="end" class="material-icons my-icon">
                more_vert
            </span>
        </IgbNavbar>
    </div>
</div>

@code {
}
